button,
label {
    font-size: 16px;
}

/* 卡片容器 */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

/* 卡片样式 */
.card, .cubeCard,
.addBtn {
    background: #f9f9f9;
    padding: 0 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark .card,
.dark #addBtn,
.dark .cubeCard {
    background-color: #2b2b2b;
}

.card:hover,
.cubeCard:hover
#addBtn:hover {
    background-color: #38548b1c;
}

.card p,
.cubeCard p {
    margin: 0.2rem 0;
}

.card h3
.cubeCard h3 {
    margin: 0.5rem 0 0.3rem 0;
}

/* 模态框基础样式 */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    background: white;
    padding: 0 1.5rem 1rem 1rem;
    border-radius: 8px;
    display: block;
}

.dark .modal-content {
    background-color: #2b2b2b;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

select,
input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.dark select,
.dark input {
    background-color: #2b2b2b;
    color: white;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
}

.deleteCancel {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
}

#confirmBtn,
#cancel {
    background-color: #38548b;
}


#confirmBtn:hover,
#cancel:hover {
    background-color: darkblue;
}

#cancelBtn,
#delete {
    background-color: #B8001F;
}

#cancelBtn:hover,
#delete:hover {
    background-color: rgb(152, 0, 0);
}

/* 隐藏 */
.hidden {
    opacity: 0;
    pointer-events: none;
}

/* 关闭 */
.off {
    display: none;
}