* {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 卡片容器 */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

/* 卡片样式 */
.card,
#addBtn {
    background: #f9f9f9;
    padding: 0 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover,
#addBtn:hover {
    background-color: #38548b1c;
}

.card p {
    margin: 0.2rem 0;
}

.card h3 {
    margin: 0.5rem 0 0.3rem 0;
}

/* 模态框基础样式 */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    display: block;
}

/* 隐藏类 */
.hidden {
    /* display: none; */
    opacity: 0;
    /* transform: scale(0); */
    pointer-events: none;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

select,
input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
}

.deleteCancel {
    display: flex;
    gap: 0.6rem;
    justify-content: center; 
}

#confirmBtn,
#cancel {
    background-color: #38548b;
}

#cancelBtn,
#delete {
    background-color: #B8001F;
}